.env
*.iml
.gradle
.gradle-home
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.jks
*.keystore
keystore.properties
/keystore/
!gradle/wrapper/gradle-wrapper.jar
/releases/
__pycache__/
*.pyc
